{% extends 'base.html' %}

{% block meta %}
{% endblock meta %}

{% block content %}
<style>

    body {
        background-color: #f5f5f5;
        background-image: url("https://lh3.googleusercontent.com/pw/AL9nZEVGEro3DW3lmCThfNJZiM84WFpTJYKJRuWUVwbrlaibDf8tHIkWp8dnxEeWd0AGU7kmIOA7dkMbGtx7cjIyLPwIzUvZuhVrL_u2kr3jah3J8vV-UOU0kMpIR-UjH_Q1CHgnZiHeLfvLpHpY2U_DTuEb=w1652-h929-no?authuser=0");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.7);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .todo-table {
        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        padding: 3%;
        margin: 3%;
        width: 60%;
        height: 80%;
    }

</style>

<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" style="color:whitesmoke;">Buat Todo Baru</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
    </div>
</nav>

<div class = "buattodo">
    
    
    <form method="POST" >  
        {% csrf_token %} 
        <center>
        <table style="color: whitesmoke;" class="todo-table">  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Buat"/></td>  
                </tr>  
            </table>  
        </center> 
        </form>
</div>  

{% endblock content %}